/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header{
  height: 50px;
  background-color: #eee;
}

footer {
  height: 50px;
  background-color: #ccc;
  line-height: 50px;
  text-align: right;
  padding-right: 30px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.menuItem {
  list-style-type: none;
    
}

.menuLink {
  text-decoration: none;
  color: darkslategrey;
  line-height: 30px;
  display: block;
  padding: 10px 20px;
  height: 50px;
  box-sizing: border-box;
}

.form_container {
  width: 300px;
  margin: 0 auto;
  border: 1px solid cornflowerblue;
  border-radius: 15px;  
  padding: 15px;
  box-sizing: border-box;
    
  .field {
    
    .label {
      
      
    }
    
    input {
          width: 100%; 
          padding: 5px;
          border-radius: 5px;
          border: 1px solid #ccc;
          outline: none;
          box-sizing: border-box;
      }
    
    input[type="checkbox"] {
       float: left;
        width: auto;
    }
  }
  
  .actions {
    margin: 20px auto 10px;
    
    input {
      box-sizing: border-box;
      width: 100%; 
      padding: 5px;
      border-radius: 5px;
      border: 1px solid cornflowerblue;
      background-color: #1fb1ff;
      
      &:hover {
        background-color:  cornflowerblue;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
